Makefile
Makefile.in
aclocal.m4
compile
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
stamp-*
autom4te.cache
version.xml
.deps
.libs
po/POTFILES
config.status.lineno
gdata.pc
gdata/gdata-marshal.c
gdata/gdata-marshal.h
*.lo
*.la
gdata/tests/general
gdata/tests/youtube
gtk-doc.make
