gdata-decl-list.txt
gdata-decl.txt
gdata-undeclared.txt
gdata-undocumented.txt
gdata-unused.txt
gdata.args
gdata.hierarchy
gdata.interfaces
gdata.prerequisites
gdata.signals
gdata.types
*.stamp
*.bak
html/
tmpl/
xml/
